@{
    ViewData["Title"] = "Contraseña Restablecida";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>@ViewData["Title"]</h2>
        <p>
            Tu contraseña ha sido restablecida exitosamente.
        </p>
        <p>
            <a asp-action="Login" asp-controller="Account">Haz clic aquí para iniciar sesión</a>
        </p>
    </div>
</div>